{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <input type="text" class="form-control large_input" id="title" placeholder="Story Title" value="{{story.title}}">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <h3>Pages</h3>
    {% for page in pages %}
    <p>
      <a href="{{ edit_page_path(story.key, page.key) }}">{{ page.summary() }}</a>
    </p>
    {% endfor %}
    <form action="{{ add_page_path(story.key) }}" method="post">
      <button type="submit" class="btn btn-default">Add page</button>
    </form>
  </div>
  <div class="col-md-9">
    <h3>Content</h3>
    <form action="{{ edit_page_path(story.key, page.key) }}" method="post">
      <div class="form-group">
        <textarea class="form-control" rows="12" name="text">{{ page.text }}</textarea>
      </div>
      <button type="submit" class="btn btn-default">Save</button>
    </form>
  </div>
</div>

<script>
  console.log("Hello world");
</script>

{% endblock %}

{% block style %}
<style type="text/css">
  .large_input {
    font-size: 28px;
    height: auto;
  }
</style>
{% endblock %}

