{% extends "base.html" %}

{% block style %}
<style type="text/css">
  .large_input {
    font-size: 28px;
    height: auto;
  }
  .choice-btn {
    display: inline-block;
    margin-right: 8px;
  }
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <input type="text" class="form-control large_input" id="title" placeholder="Story Title" value="{{story.title}}">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <h3>Pages</h3>
    {% for page in pages %}
    <p>
      <a href="{{ path_for('EditPage', story.key.id(), page.key.id()) }}">{{ page.summary(30) }}</a>
    </p>
    {% endfor %}
    <form class="choice-btn" action="{{ path_for('AddPage', story.key.id()) }}" method="post">
      <button type="submit" class="btn btn-default">Add page</button>
    </form>
    <form class="choice-btn" action="{{ path_for('DeletePage', story.key.id()) }}" method="post">
      <button type="submit" class="btn btn-danger">Delete page</button>
    </form>
  </div>
  <div class="col-md-9">
    <h3>Page {{ page.key.id() }}</h3>
    <div class="form-group">
      <textarea id="page-text" class="form-control" rows="12" name="text">{{ page.text }}</textarea>
    </div>

    {% for choice in page.choices %}
    <div class="form-group">
      <label for="choice_{{ choice.id }}_text">Performing action:</label>
      <input id="choice_{{ choice.id }}_text" type="text" class="form-control" placeholder="Descripton of action" value="{{ choice.text }}">
    </div>
    <div class="form-group">
      <label for="choice_{{ choice.id }}_page">Leads to:</label>
      <select id="choice_{{ choice.id }}_page" class="form-control">
        {% for page in pages %}
        <option value="{{ page.key.id() }}"
                {% if choice.page == page.key.id() %} selected {% endif %}>
          {{ page.summary(30) }}</option>
        {% endfor %}
      </select>
    </div>
    {% endfor %}
    <form class="choice-btn" action="{{ path_for('AddChoice', story.key.id(), page.key.id()) }}" method="post">
      <button type="submit" class="btn btn-default">Add Choice</button>
    </form>
    <form class="choice-btn" action="{{ path_for('DeleteChoice', story.key.id(), page.key.id()) }}" method="post">
      <button type="submit" class="btn btn-danger">Delete Choice</button>
    </form>

    <!--<form action="{{ path_for('AddChoice', story.key.id(), page.key.id()) }}" method="post">-->
      <!--<div class="form-group">-->
        <!--<button type="submit" class="btn btn-default">Add Choice</button>-->
      <!--</div>-->
    <!--</form>-->
    <!--<form action="{{ path_for('DeleteChoice', story.key.id(), page.key.id()) }}" method="post">-->
      <!--<div class="form-group">-->
        <!--<button type="submit" class="btn btn-danger">Delete Choice</button>-->
      <!--</div>-->
    <!--</form>-->
  </div>
</div>
{% endblock %}

{% block script %}
<script>

  var $autosaved = $('#autosaved');

  onChange('#title', function(title) {
    $.ajax({
        method: "PUT",
        url: "{{ path_for('EditStory', story.key.id()) }}",
        data: {
          field_mask: "title",
          title: title
        }
      });
  });

  onChange("#page-text", function(text) {
    $.ajax({
        method: "PUT",
        url: "{{ path_for('EditPage', story.key.id(), page.key.id()) }}",
        data: {
          field_mask: "text",
          text: text
        }
      });
  });

  // Choice listener
  // {% for choice in page.choices %}
  onChange("#choice_{{ choice.id }}_text", function(text) {
    $.ajax({
        method: "PUT",
        url: "{{ path_for('EditChoice', story.key.id(), page.key.id(), choice.id) }}",
        data: {
          field_mask: "text",
          text: text
        }
      });
  });

  onChange("#choice_{{ choice.id }}_page", function(page) {
    $.ajax({
        method: "PUT",
        url: "{{ path_for('EditChoice', story.key.id(), page.key.id(), choice.id) }}",
        data: {
          field_mask: "page",
          page: page
        }
      });
  });
  // {% endfor %}

</script>
{% endblock %}
