{% block style %}
<style type="text/css">
  .no-dec, .no-dec:hover, .no-dec:link {
    color: inherit;
    text-decoration: none;
  }
  .panel {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
  }
</style>
{% endblock %}

{% extends "base.html" %}

{% block content %}
<div class="row">
  {% for story in stories %}
  <div class="col-md-12 panel">
    <a href="{{ read_page_path(story.key, story.page1_key) }}" class="no-dec">
      <h2>{{ story.title }}</h2>
      <p>{{ story.summary() }}</p>
    </a>
    {% if story.author == user %}
    <p>
      <a class="btn btn-default" href="{{ edit_page_path(story.key, story.page1_key) }}"
         role="button">Edit</a>
    </p>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% if more_path %}
<div class="row">
  <div class="col-md-4">
    <a href="{{ more_path }}">More...</a>
  </div>
</div>
{% endif %}
{% endblock %}
