{% block style %}
<style type="text/css">
  .author {
    color: gray;
  }
</style>
{% endblock %}

{% extends "base.html" %}

{% block content %}

{% for story in stories %}
<div class="panel">
  <a href="{{ path_for('ReadPage', story.key.id(), story.page1_key.id()) }}"
     class="no-dec">
    <h2>{{ story.title }}</h2>
    <p class="author">By {{ story.author.nickname() }}</p>
    <p>{{ story.summary() }}</p>
  </a>
  {% if story.author == user %}
  <p>
    <a class="btn btn-primary" href="{{ path_for('EditPage', story.key.id(), story.page1_key.id()) }}"
       role="button">Edit</a>
  </p>
  {% endif %}
</div>
{% endfor %}

{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}
